<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div style="text-align:center">
  <!--app-users></app-users-->
  <!--app-sign-up></app-sign-up-->
  <router-outlet></router-outlet>
  <!--h1><input type="text" class="form-control" [(ngModel)]="uc.adminActivate" name="uc.adminActivate"></h1-->
</div>

